.button {
  @include reset-btn;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  background: linear-gradient(180deg, #c0f0ff 0%, #0091fa 100%);
  box-shadow: 0px 4px 0px #0062a9;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  min-height: 64px;
  overflow: hidden;
  position: relative;

  &_desc {
    display: none;

    @media (max-width: 650px) {
      display: block;
      margin-top: 10px;
    }
  }

  &_line-form {
    max-width: 310px;
  }

  &_shop {
    max-width: 270px;
  }

  &_modal-form {
    max-width: 270px;
  }

  &_support {
    max-width: 270px;

    @media (max-width: 880px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &:hover {
    background: linear-gradient(180deg, #c0f0ff 0%, #30a8ff 100%);
  }

  &:active {
    background: #0083e1;
    box-shadow: none;
    top: 4px;
  }

  &::after {
    content: '';
    margin-left: 60px;
    width: 25px;
    height: 300px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(hsla(0, 0%, 100%, 0.01))
    );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}
