.trafic {
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 129px;
  padding-bottom: 135px;

  @media (max-width: 991px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.trafic__title {
  @include title;
  margin-bottom: 6px;
  text-align: left;
}

.trafic__subtitle {
  @include subtitle;
  margin-bottom: 35px;
  text-align: left;

  @include mobile-mb(20px);
}

.trafic__text {
  max-width: 487px;
  margin-bottom: 39px;
  @include mobile-mb(20px);
}

.trafic__list-title {
  font-size: 26px;
  margin-bottom: 43px;

  @media (max-width: 650px) {
    font-size: 20px !important;
  }

  @include mobile-mb(20px);
}

.trafic__list-wrapper {
  position: relative;
  max-width: 470px;

  &::before {
    content: url('/src/img/bgs/trafic-bg.jpg');
    position: absolute;
    z-index: -1;
    right: -1072px;
    top: -392px;

    @media (max-width: 991px) {
      right: -981px;
      top: -209px;
    }

    @media (max-width: 650px) {
      content: none;
    }
  }
}

.trafic__list {
  @include reset-list;

  & > * + * {
    margin-top: 30px;

    @include mobile-mb(20px);
  }
}

.trafic__item {
  padding-left: 65px;
  position: relative;

  @media (max-width: 650px) {
    padding-left: 45px;
  }

  &::before {
    position: absolute;
    left: 0px;
    top: -9px;
    font-size: 40px;
    color: $light-yellow;
    font-style: italic;

    @media (max-width: 650px) {
      top: -4px;
      font-size: 30px;
    }
  }

  @for $i from 1 through 6 {
    &:nth-child(#{$i})::before {
      content: '0#{$i}';
    }
  }
}

.trafic__note {
  @include bg;
  background-image: url('/src/img/trafic-note-bg.jpg');
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 0;
  text-align: center;
  color: white;
  position: absolute;
  right: -665px;
  top: 460px;
  border-radius: 10px;
  max-width: 433px;
  font-weight: bold;

  @media (max-width: 1150px) {
    right: -495px;
  }

  @media (max-width: 991px) {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 30px;
  }

  @media (max-width: 650px) {
    padding: 20px;
  }
}
